# ignore pycharm cache
scripts/__pycache__
.idea
scripts/.idea

# ignore pyc
*.pyc

# ignore custom file
vex/custom/*
python/custom/*

# ignore test and backup
*.back
*.test
test
otls/backup
otls/tmp/Game

# ignore private files
*.private*
.cursorignore
